@model List<NetStock.Areas.Operation.Controllers.file>
@section css{
<link href="@Url.Content("~/Content/fileupload/style.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/fileupload/jquery.fileupload.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/fileupload/jquery.fileupload-ui.css")" rel="stylesheet" />
}
@{
    var documentNo = "";

    if (!string.IsNullOrWhiteSpace(Request.QueryString["documentno"]))
    {
        documentNo = Request.QueryString["documentno"];
    }
}

<div class="box box-solid box-default">

    <!-- Header Title -->
    <div class="box-header with-border">
        <h3 class="box-title">Uploaded Images</h3>
    </div>
    <div class="box-body">
        <fieldset class="form-horizontal">
            <div class="form-group row">
                <div class="col-md-12">
                    <form id="fileupload" name="fileupload" method="POST" action="@Url.Action("UploadFiles", "Upload")" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <noscript>
                            <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                        </noscript>
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button btn-sm">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary btn-sm start" id="btnStartUpload">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning btn-sm cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                                @*<input type="checkbox" class="toggle">*@
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <div class="row">
                            <div class="col-md-12">
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files">
                                        @if (Model != null)
                                        {
                                            for (var i = 0; i < Model.Count; i++)
                                            {
                                                <tr class="template-upload fade in">
                                                    <td>
                                                        <span class="preview"><img src="@Url.Content(Model[i].url)" width="80" height="47" /></span>
                                                    </td>
                                                    <td>
                                                        <p class="name">@Model[i].name</p>
                                                        <strong class="error text-danger"></strong>
                                                    </td>
                                                    <td>
                                                        <p class="size">59.08 KB</p>
                                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            @*<button class="btn btn-primary start" disabled="disabled">
                                                                    <i class="glyphicon glyphicon-upload"></i>
                                                                    <span>Start</span>
                                                                </button>*@

                                                            <button type="button" class="btn btn-danger cancel" data-src="@Url.Content(Model[i].url)" data-name="@Model[i].name" id="btnDelete_@i" onclick="btnDelete(@i);">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                                <span>Delete</span>
                                                            </button>
                                                            </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11"></div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary btn-sm" onclick="fnBack();"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>
                            </div>
                        </div>

                        <input type="hidden" name="hdnDocumentNo" id="hdnDocumentNo" value="@documentNo" />
                        <input type="hidden" name="hdnFileName" id="hdnFileName" />
                    </form>
                </div>

            </div>
        </fieldset>
    </div>
</div>
@section Scripts {
<!-- File Upload Scripts -->
<script src="@Url.Content("~/Scripts/jquery.ui.widget.js")"></script>
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<script src="@Url.Content("~/Scripts/fileupload/jquery.iframe-transport.js")"></script>
<script src="@Url.Content("~/Scripts/fileupload/jquery.fileupload.js")"></script>
<script src="@Url.Content("~/Scripts/fileupload/jquery.fileupload-process.js")"></script>
<script src="@Url.Content("~/Scripts/fileupload/jquery.fileupload-image.js")"></script>
<script src="@Url.Content("~/Scripts/fileupload/jquery.fileupload-validate.js")"></script>
<script src="@Url.Content("~/Scripts/fileupload/jquery.fileupload-ui.js")"></script>
<script src="@Url.Content("~/Scripts/fileupload/main.js")"></script>
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled style="display:none;">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img height="100" widht="100" src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            @*<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>*@
            @*<input type="checkbox" name="delete" value="1" class="toggle">*@
            {% } else { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<script type="text/javascript">
    var uploadUrl = '@Url.Content("~/Operation/UploadFiles?documentno=")' + '@documentNo'

    function btnDelete(index){
        var fileName = $('#btnDelete_' + index).data('name');
        //var r = confirm('Are you sure do you want to delete file \'' + fileName + '\' ?');
        //if (r) {
            $('#hdnFileName').val(fileName);

            $('#fileupload').attr({
                'action': '@Url.Content("~/Operation/DeleteFile")'
            }).removeAttr('enctype');

            $('#fileupload').submit();
        //}
    }

    function fnBack() {
        var documentType = ('@Request.QueryString["documentType"]' == '@DocumentType.DOMESTIC.ToString()' ? "GoodsReceiveDomestic" : "GoodsReceiveOverseas");
        if (documentType == 'GoodsReceiveDomestic')
            location.href = '@Url.Content("~/Operation/GoodsReceiveDomestic")' + '?documentNo=' + '@documentNo' + '&branchID=' + '@HttpContext.Current.Session["BranchId"].ToString()';
        else if (documentType == 'GoodsReceiveOverseas')
            location.href = '@Url.Content("~/Operation/GoodsReceiveOverseas")' + '?documentNo=' + '@documentNo' + '&branchID=' + '@HttpContext.Current.Session["BranchId"].ToString()';
    }
</script>
}