@model NetStock.Contract.ReportParam

@{
    ViewBag.Title = "PNL REPORT";
}
@section css{
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/dataTables.responsive.css")" rel="stylesheet" />
}
<div class="modal fade in" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="box box-solid box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Profit &amp; Loss Report</h3>

    </div>
    <div class="box-body">
        <fieldset class="form-horizontal">
            <div class="form-group">
                <div>
                    <label class="col-md-2 input-sm control-label">Branch</label>
                    <div class="col-md-4">
                        @Html.DropDownList("BranchID", new SelectList(ViewBag.BranchList, "Value", "Text"), "All", new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label input-sm">Date From</label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.DateFrom, new { @Value = Model.DateFrom.ToString("dd/MM/yyyy"), @class = "form-control input-sm datepicker" })
                    </div>
                    <label class="col-md-2 control-label input-sm">Date To</label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.DateTo, new { @Value = Model.DateTo.ToString("dd/MM/yyyy"), @class = "form-control input-sm datepicker" })

                    </div>
                </div>
            </div>
        </fieldset>
    </div>


    <div class="box-footer">
        <div class="row  no-print">
            <div class="col-xs-12">
                <div class="btn-group dropup">
                    @Html.ActionLink("Print", "ViewProfitAndLossReport", "Reports", 
                        new { area = "Reports", dateFrom = Model.DateFrom, dateTo = Model.DateTo, URL = "/NetStockDiamondReports/PandL" }, 
                        new { data_modal = "test", id = "btnViewReport", onclick = "PrintClick()", @class = "btn btn-sm btn-primary" })


                </div>
                <a href="@Url.Content("~/Dashboard/Index")" id="btnBack" class="btn btn-sm btn-info pull-right">
                    <i class="fa fa-arrow-circle-o-left"></i>
                    Back
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/modalform")
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
    <script type="text/javascript">

        function PrintClick() {
            //debugger;
            var dateFrom = ($("#DateFrom").val());
            var dateTo = ($("#DateTo").val());
            var branchID = $('#BranchID').val();
            var ReportURL = ("/NetStockDiamondReports/PandL");
            debugger;
            var rooturl = '@Url.Action("ViewProfitAndLossReport", "Reports", new { area = "Reports" })';
            var url = rooturl + "?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "&URL=" + ReportURL;

            if (branchID != '')
                url += "&branchID=" + branchID;
            
            $("#btnViewReport").attr("href", url);
        }


        $(function () {

            $('.datepicker').datetimepicker({
                useCurrent: false,
                format: 'DD/MM/YYYY',
                inline: false
            });
        });

    </script>
}

