@model List<NetStock.Contract.Lookup>

@{
    ViewBag.Title = "UOMList";
}


@section css{

    <link href="@Url.Content("~/Content/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/dataTables.responsive.css")" rel="stylesheet" />
}
<div class="modal fade in" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div class="box box-solid box-default">
    <div class="box-header with-border">
        <h3 class="box-title">U O M </h3>
    </div>
    <div class="box-body">
        <fieldset class="form-horizontal">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="tbDetails" data-toggle="tab">UOM List</a>
                    </li>
                    <li class="pull-right">
                        <div class="btn-group btn-primary">
                            @if (HtmlHelpers.hasRight("UOMSave"))
                            {
                                <a class="btn btn-sm btn-primary" data-modal="" href="@Url.Content("~/MasterData/EditUOM")" id="btnCreate"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;New UOM</a>
                            }
                        </div>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tbDetails">
                        <table id="tblList" class="table table-striped table-hover table-bordered table-responsive setting-table">
                            <thead style="background-color: steelblue; color: white; font-size: 12px;">
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                                @if (Model != null)
                                {
                                    foreach (NetStock.Contract.Lookup item in Model)
                                    {
                                    <tr>
                                        @if (HtmlHelpers.hasRight("UOMView"))
                                        {
                                            <td>@Html.ActionLink(@item.LookupCode, "EditUOM", "MasterData", new { lookupCode = @item.LookupCode }, new { data_modal = "", id = "btnCreate" })</td>
                                        }
                                        else
                                        {
                                            <td>@item.LookupCode</td>
                                        }
                                        <td>@item.Description </td>
                                        @if (HtmlHelpers.hasRight("UOMDelete"))
                                        {
                                            <td><a class="cursorCss" href="javascript:deleteUOM('@item.LookupCode')" style="font-size:12pt;"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</a></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

</div>


@section Scripts {

    @Scripts.Render("~/bundles/modalform")
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblList').DataTable({
                responsive: true,
                aoColumnDefs: [{
                    bSortable: false,
                    aTargets: [-1]
                }]
            });
            var table = $('#tblList').DataTable();
            $('#tblList tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            var isSaved = '@TempData["isSaved"]';

            if (isSaved == 'True') {
                ModalShow2('@TempData["resultMessage"]', "Success", "Save");
            }
            else if (isSaved == 'False') {
                ModalShow2('@TempData["resultMessage"]', "Failure", "Save");
            }

        });

    function deleteUOM(code) {
        var result = confirm('Are you sure you want to delete ?');
        if (result) {
            location.href = '@Url.Content("~/MasterData/DeleteUOM?lookupCode=")' + code;
    }
}

function UOMModalValidation() {
    $('#frmUOM').validate({
        rules: {
            LookupCode: {
                required: true
            },
            Description: {
                required: true
            }
        },
        messages: {
            LookupCode: {
                required: 'UOM is required'
            },
            Description: {
                required: 'Description is required'
            }
        }
    });
}

function btnSaveUOM() {
    UOMModalValidation();
    if ($('#frmUOM').valid()) {
        $('#frmUOM').submit();
    }
}




    </script>
}

